<footer class="flex justify-between mt-10 items-end">
  <div class="flex flex-col">
    <span class="text-medium-brown text-base opacity-80">Total this month</span>
    <span class="text-dark-brown text-3xl md:text-4xl font-bold mt-1"
      >$478.33</span
    >
  </div>
  <div class="flex flex-col text-right">
    <span class="text-dark-brown md:text-lg font-bold">+2.4%</span>
    <span class="text-medium-brown text-sm md:text-lg opacity-80 mt-1"
      >from last month</span
    >
  </div>
</footer>
